
header{
    background: #6495ED url(../img/pattern.png);
    height: 150px;
    position: relative;
}

header > img{
    max-width: 300px;
    margin-top: 70px;
    margin-left: 10px;
}

.article-title{
    font-size: 30px;
}

.article-author{
    color:darkgray;
    font-size: 15px;
}

a{
    color: cornflowerblue;
    text-decoration: none;
}

.img-description{
    font-size: 10px;
}

#important-lorem{
    background-color: yellow;
}

.list{
    padding:15px;
}

.table{
    width: 1500px;
}

.title-row{
    background-color: #6495ED;
    width: 500px;
    color: white;
    display: inline-block;
    float: left;
    font-weight: bold;
}

.table-row{
    background: cyan;
    width: 500px;
    display: inline-block;
    float: left;
    line-height:60px;
}

.table-row1{
    background: cyan;
    width: 500px;
    display: inline-block;
    float: left;
    height: 60px;
}

.table-row2{
    background: white;
    width: 500px;
    display: inline-block;
    float: left;
    line-height:60px;
}

.table-row3{
    background: white;
    width: 500px;
    display: inline-block;
    float: left;
    height: 60px;
}