
header{
    background: #6495ED url(../img/pattern.png);
    height: 150px;
}

header > img{
    max-width: 300px;
    margin-top: 70px;
    margin-left: 10px;
}

.article-title{
    font-size: 30px;
}

.article-author{
    color:darkgray;
    font-size: 15px;
}

a{
    color: cornflowerblue;
    text-decoration: none;
}

.img-description{
    font-size: 10px;
}

#important-lorem{
    background-color: yellow;
}

.list{
    padding:15px;
}

.table{
    width: 1500px;
}
.table:after{
    content:"";
    display:table;
    clear:both;
    }

.title-row{
    background-color: #6495ED;
    width: 500px;
    color: white;
    float: left;
    font-weight: bold;
}

.table-row{
    background: rgb(88, 192, 192);
    width: 500px;
    float: left;
    line-height:60px;
}

.table-row1{
    background: rgb(88, 192, 192);
    width: 500px;
    float: left;
    height: 60px;
}

.table-row2{
    background: white;
    width: 500px;
    float: left;
    line-height:60px;
}

.table-row3{
    background: white;
    width: 500px;
    float: left;
    height: 60px;
}

#paragrafo{
    padding-top: 20px;
}

.footer-text{
    color: darkgray;
}

.img-footer1{
    background: url(../img/monitor.jpg);
    height: 200px;
    width: 300px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
}

.img-footer2{
    margin-top: 10px;
    background: url(../img/graph.jpg);
    height: 200px;
    width: 300px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
}